*{
    margin: 0;
    padding: 0;
}
.icons{
    width: 100%;
    height: 100%;
    background-image: url(bg1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons .ic{
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.icons .ic button{
    position: relative;
    height: 60px;
    width: 60px;
    display: block;
    background: white;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: none;
}
.icons .ic button i{
    font-size: 25px;
    line-height: 60px;
}
.icons .ic:hover button{
    color: white;
}
.icons .ic .tip{
    position: absolute;
    top: 0px;
    background: white;
    color: white;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.icons .ic:hover .tip{
    top: -70px;
    opacity: 1;
    pointer-events: visible;
}
/*.icons .ic .tip::before{
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    background: white;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%)rotate(45deg);
}*/
.icons .ic:hover button,
.icons .ic:hover .tip{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}
.icons .facebook:hover button,
.icons .facebook:hover .tip,
.icons .facebook:hover .tip::before{
    background: royalblue;
}
.icons .twitter:hover button,
.icons .twitter:hover .tip,
.icons .twitter:hover .tip::before{
    background: rgb(105, 221, 236);
}
.icons .instagram:hover button,
.icons .instagram:hover .tip,
.icons .instagram:hover .tip::before{
    background: #e1306c;
}
.icons .git-hub:hover button,
.icons .git-hub:hover .tip,
.icons .git-hub:hover .tip::before{
    background: #333;
}
.icons .youtube:hover button,
.icons .youtube:hover .tip,
.icons .youtube:hover .tip::before{
    background: #f00606;
}
